/Problem1.class
/Test01.class
/Test02.class
/Test03.class
/Test04InputData.class
/Test05If.class
/Test06Switch.class
/Test07For.class
/Test08For.class
/Test09While.class
/Test10Array.class
/Test11Array.class
